################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/O2DESNetDemos/bin/Debug/netcoreapp3.1
/.vs/O2DESNetDemos
/O2DESNetDemos/obj
